<section class="bg-white py-24 px-4 text-center border-b" id="introduction">
  <h2 class="text-3xl font-bold mb-4">Introduction</h2>
  <p class="text-lg mb-6">
    ViA International is an internationally recognized consultancy firm specialized in civil engineering design and project management. With more than 35 years of experience, the group provides services in all aspects of civil engineering including architectural, transport, civil infrastructures, structural and hydraulic engineering, MEP, land and building development, marinas, harbors, railways, as well as advanced specialties and interactive 3D modeling.
</p>
</section>
